<h1>{{title}}</h1>
<form class="form-horizontal">
	<div class="control-group" ng-repeat="col in columns | crudFilter:type">
		<label class="control-label">{{col.label}}</label>
		<div class="controls">	
	 		<input ng-model="activeRow.value[col.id].value" type="text" /> 
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">
	<a class="btn btn-danger" ng-click="closeForm()">Avbryt</a>
		</label>
		<div class="controls">
	<a class="btn btn-success" ng-click="saveForm()">Lagre</a>
		</div>
	</div>
</form>
