<div ng-controller="awesomeGridFormCtrl">
	<div class="awesomeGridNewForm" ng-show="formIsVisible('new')" ng-animate="{show :   'animated bounceInRight', hide : 'animated bounceOutLeft'}"></div>
	<div class="awesomeGridEditForm" ng-show="formIsVisible('edit');" ng-animate="{show :   'animated bounceInRight', hide : 'animated bounceOutLeft'}"></div>
</div>
<a class="btn btn-success btn-block" ng-click="setNewFormVisible('true')">Nytt Produkt</a>
 <table class="table table-striped table-hover table-bordered table-condensed" ng-init="copy={}">
      <tr>
	<th ng-repeat="col in columns" ng-init="copy[col.id] = {}">{{col.label}}</th>
      	<th>Oppdater</th>
	</tr>
      <tr>
      </tr>
      <tr ng-repeat="row in rows">
	<td ng-repeat="col in columns">
	  <span>{{getValue(col, row)}}</span> 
	</td>
	<td><a class="btn btn-success" ng-click="setEditFormVisible('true')">Oppdater</a></td>
      <tr>
    </table>
